{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="page" class="page">
    <div class="main-banner inner bg bg1" style="background-color: rgba(0, 0, 0, 0); margin-top: 0px; background-image: url('{% static 'images/банер3.jpg' %}');" id="home">
        {% include 'header.html' %}
    </div>
    <ol class="breadcrumb editContent">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}" class="editContent"
               style="outline: none; cursor: inherit;">Home</a>
        </li>
        <li class="breadcrumb-item active editContent" style="outline: none; cursor: inherit;">
            Single
        </li>
    </ol>
    <section class="ab-info-main py-md-5 py-4 editContent"
             style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(33, 37, 41); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: Lato, sans-serif;">
        <div class="container py-md-3">
            <div class="row">
                {% include 'side-panel.html' %}
                <div class="left-ads-display col-lg-8">
                    <div class="row">
                        <div class="desc1-left col-md-6">
                            <img src="{{movie.poster.url}}" class="img-fluid" alt="">
                        </div>
                        <div class="desc1-right col-md-6 pl-lg-4">
                            <h3 class="editContent" style="outline: none; cursor: inherit;">
                                {{movie}}</h3>
                            <h5 class="editContent">Terminator: Dark Fate</h5>
                            <ul>
                                <li style="list-style: none"><span><b>Год:</b> {{movie.premiere}}</span></li>
                                <li style="list-style: none"><span><b>Страна:</b> {{movie.country}}</span>
                                </li>
                                <li style="list-style: none"><span><b>Слоган:</b> «{{movie.tagline}}»</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Режиссер:</b>
                                        {% for i in movie.director.all%}{{i}}{% endfor %}</span></li>
                                <li style="list-style: none"><span><b>Актеры:</b>
                                    {% for i in movie.actors.all %}
                                    {{i}}
                                    {% endfor %}</span></li>
                                <li style="list-style: none"><span><b>Жанр:</b> {% for i in movie.genre.all %}{{i}} {% endfor %}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Премьера в мире:</b> {{movie.data_movie|date}}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Бюджет:</b> ${{movie.budget}}</span></li>
                                <li style="list-style: none"><span><b>Сборы в мире:</b> ${{movie.fees_world}}</span>
                                </li>
                                <li style="list-style: none">
                                    <a href="#"><b>Рейтинг:</b>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit;"></span>
                                        <span class="editContent"
                                              style="outline: none; cursor: inherit;">5.0</span>
                                    </a>
                                </li>
                                <div class="share-desc">
                                    <div class="share">
                                        <h4 class="editContent"
                                            style="outline: none; cursor: inherit;">
                                            Share:</h4>
                                        <ul class="w3layouts_social_list list-unstyled">
                                            <li>
                                                <a href="#" class="w3pvt_facebook editContent"
                                                   style="outline: none; cursor: inherit;">
                                                <span class="fa fa-facebook-f"
                                                      style="outline: none; cursor: inherit;"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="w3pvt_twitter editContent"
                                                   style="outline: none; cursor: inherit;">
                                                <span class="fa fa-twitter"
                                                      style="outline: none; cursor: inherit;"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="w3pvt_dribble editContent"
                                                   style="outline: none; cursor: inherit;">
                                                <span class="fa fa-dribbble"
                                                      style="outline: none; cursor: inherit;"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                        </div>
                    </div>
                    <div class="row sub-para-w3layouts mt-5">

                        <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                            О фильме Терминатор: Темные судьбы</h3>
                        <p>{% for i in movie.stills_films.all %}
                            <img src="{{i.image.url}}" style="width:240px; height:160px" alt="">
                            {% endfor %}
                        </p>
                        <p class="editContent" style="outline: none; cursor: inherit;">{{ movie.content }}</p>
                        <p class="mt-3 italic-blue editContent"
                           style="outline: none; cursor: inherit;">
                            <iframe width="560" height="315"
                                    src="{{movie.url}}"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe>
                        </p>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="single-form-left">
                            <!-- contact form grid -->
                            <div class="contact-single">
                                <h3 class="editContent" style="outline: none; cursor: inherit;">
                                    <span class="sub-tittle editContent"
                                          style="outline: none; cursor: inherit;">02</span>Оставить отзыв</h3>
                                <form action="{% url 'review_handle' movie.id %}" method="post" class="mt-4">
                                    {% csrf_token %}
                                    <div class="form-group editContent"
                                         style="outline: none; cursor: inherit;">
                                        <label for="contactcomment" class="editContent"
                                               style="outline: none; cursor: inherit;">Ваш комментарий
                                            *</label>
                                        <textarea class="form-control border" rows="5" name="text"
                                                  id="contactcomment" required=""></textarea>
                                    </div>
                                    <div class="d-sm-flex">
                                        <div class="col-sm-6 form-group p-0 editContent"
                                             style="outline: none; cursor: inherit;">
                                            <label for="contactusername" class="editContent"
                                                   style="outline: none; cursor: inherit;">Имя
                                                *</label>
                                            <input type="text" class="form-control border"
                                                   id="contactusername" required="" name="name">
                                        </div>
                                        <div class="col-sm-6 form-group ml-sm-3 editContent"
                                             style="outline: none; cursor: inherit;">
                                            <label for="contactemail" class="editContent"
                                                   style="outline: none; cursor: inherit;">Email
                                                *</label>
                                            <input type="email" class="form-control border"
                                                   id="contactemail" required="" name="email">
                                        </div>
                                    </div>
                                    <button type="submit"
                                            class="mt-3 btn btn-success btn-block py-3"
                                            style="outline: none; cursor: inherit;">Отправить
                                    </button>
                                </form>


                            </div>
                            <!--  //contact form grid ends here -->
                        </div>
                    </div>


                    {% for item in movie.reviews.all %}
                    <div class="media py-5">

                        <img src="bundles/images/te2.jpg" class="mr-3 img-fluid" alt="image"
                             style="outline: none; cursor: inherit;">
                        <div class="media-body mt-4">
                            <h5 class="mt-0 editContent"
                                style="outline: none; cursor: inherit;">{{item.name}}</h5>
                            <p class="mt-2 editContent" style="outline: none; cursor: inherit;">
                                {{item.text}}
                            </p>
                            <!--                                <div class="media mt-5 editContent"-->
                            <!--                                     style="outline: none; cursor: inherit;">-->
                            <!--                                    <a class="pr-3" href="#">-->
                            <!--                                        <img src="bundles/images/te1.jpg" class="img-fluid "-->
                            <!--                                             alt="image" style="outline: none; cursor: inherit;">-->
                            <!--                                    </a>-->
                            <!--                                    <div class="media-body">-->
                            <!--                                        <h5 class="mt-0 editContent"-->
                            <!--                                            style="outline: none; cursor: inherit;">Leia Organa</h5>-->
                            <!--                                        <p class="mt-2 editContent"-->
                            <!--                                           style="outline: none; cursor: inherit;"> Cras sit amet-->
                            <!--                                            nibh libero, in gravida nulla. Nulla vel metus-->
                            <!--                                            scelerisque ante sollicitudin. Cras purus odio,-->
                            <!--                                            vestibulum in vulputate at, tempus viverra turpis. Fusce-->
                            <!--                                            condimentum nunc ac nisi vulputate fringilla..</p>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                        </div>
                    </div>
                    {% endfor %}


                    <!--                        <div class="media py-5">-->
                    <!--                            <img src="bundles/images/te2.jpg" class="mr-3 img-fluid" alt="image"-->
                    <!--                                 style="outline: none; cursor: inherit;">-->
                    <!--                            <div class="media-body mt-4">-->
                    <!--                                <h5 class="mt-0 editContent"-->
                    <!--                                    style="outline: none; cursor: inherit;">Daniel Doe</h5>-->
                    <!--                                <p class="mt-2 editContent" style="outline: none; cursor: inherit;">-->
                    <!--                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus-->
                    <!--                                    scelerisque ante sollicitudin. Cras purus odio, vestibulum in-->
                    <!--                                    vulputate at, tempus viverra turpis.-->
                    <!--                                </p>-->
                    <!--                                <div class="media mt-5 editContent"-->
                    <!--                                     style="outline: none; cursor: inherit;">-->
                    <!--                                    <a class="pr-3" href="#">-->
                    <!--                                        <img src="bundles/images/te1.jpg" class="img-fluid "-->
                    <!--                                             alt="image" style="outline: none; cursor: inherit;">-->
                    <!--                                    </a>-->
                    <!--                                    <div class="media-body">-->
                    <!--                                        <h5 class="mt-0 editContent"-->
                    <!--                                            style="outline: none; cursor: inherit;">Leia Organa</h5>-->
                    <!--                                        <p class="mt-2 editContent"-->
                    <!--                                           style="outline: none; cursor: inherit;"> Cras sit amet-->
                    <!--                                            nibh libero, in gravida nulla. Nulla vel metus-->
                    <!--                                            scelerisque ante sollicitudin. Cras purus odio,-->
                    <!--                                            vestibulum in vulputate at, tempus viverra turpis. Fusce-->
                    <!--                                            condimentum nunc ac nisi vulputate fringilla..</p>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->

                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
    <div class="cpy-right py-3">
        <div class="container">
            <div class="row">
                <p class="col-md-10 text-left">© 2019 DjangoMovie. All rights reserved | Design by
                    <a href="https://djangochannel.com"> DJANGO SCHOOL.</a>
                </p>
                <a href="#home" class="move-top text-right col-md-2"><span
                        class="fa fa-long-arrow-up" aria-hidden="true"
                        style="outline: none; cursor: inherit;"></span></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
